<div class="about">
    <div class="about__body">
        <div class="about__image">
            <div
                class="about__image-bg"
                style="background-image: url('assets/images/117.jpg');"
            ></div>
            <app-decor class="about__image-decor" type="bottom"></app-decor>
        </div>

        <div class="about__card">
            <div class="about__card-title">About Us</div>
            <div class="about__card-text">
                AutoSouk.co is an online platform that connects auto parts suppliers to customers.And aims to transform the spare auto part market through transparent online accessibility, creating convenience for clients as well as suppliers. Our vision is to create a comprehensive directory of all auto parts stores and suppliers and become the ultimate go-to platform for auto parts suppliers and clients in Lebanon, and the region.
            </div>
            <div class="about__card-author">Youssef Chbat, Founder Autosouk</div>
            <div class="about__card-signature">
                <img src="assets/images/118.jpg" width="160" height="55" alt="">
            </div>
        </div>

        <div class="about__indicators">
            <div class="about__indicators-body">
                <div class="about__indicators-item">
                    <div class="about__indicators-item-value">35</div>
                    <div class="about__indicators-item-title">Stores around the world</div>
                </div>
                <div class="about__indicators-item">
                    <div class="about__indicators-item-value">8 000</div>
                    <div class="about__indicators-item-title">Original auto parts</div>
                </div>
                <div class="about__indicators-item">
                    <div class="about__indicators-item-value">500</div>
                    <div class="about__indicators-item-title">Satisfied customers</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <app-block-space layout="divider-xl"></app-block-space>

<app-block-teammates></app-block-teammates>

<app-block-space layout="divider-xl"></app-block-space>

<app-block-reviews></app-block-reviews>

<app-block-space layout="before-footer"></app-block-space> -->
