<div class="modal fade" tabindex="-1" role="dialog" bsModal #modal="bs-modal">
    <div class="modal-dialog modal-dialog-centered quickview">
        <div *ngIf="product" class="modal-content">
            <button type="button" class="quickview__close" (click)="modal.hide()">
                <app-icon icon="cross-12"></app-icon>
            </button>
            <div class="quickview__body" [formGroup]="AddToCart">
                <app-product-gallery *ngIf="showGallery" class="quickview__gallery" layout="quickview"
                    [images]="product.My_Uploaded_files"></app-product-gallery>

                <div class="quickview__product">
                    <div class="quickview__product-name">
                        {{ product.PRODUCT_NAME }}
                    </div>
                    <div class="quickview__product-rating">
                        <div class="quickview__product-rating-stars">
                            <app-rating [value]="product.AVERAGE_RATE_REVIEW || 0"></app-rating>
                        </div>
                        <div class="quickview__product-rating-title">
                            {{ 'TEXT_RATING_LABEL'|translate:{rating: product.AVERAGE_RATE_REVIEW, reviews:
                            product.AVERAGE_RATE_REVIEW} }}
                        </div>
                    </div>
                    <div class="quickview__product-meta">
                        <table>
                            <tbody>
                                <tr>
                                    <th>{{ 'TABLE_SKU'|translate }}</th>
                                    <td>{{ product.PRODUCT_SERIAL_NB }}</td>
                                </tr>
                                <tr *ngIf="product.My_Brand">
                                    <th>{{ 'TABLE_BRAND'|translate }}</th>
                                    <td>{{ product.My_Brand.NAME }}</td>
                                </tr>
                                <tr *ngIf="!product.My_Brand">
                                    <th>{{ 'TABLE_BRAND'|translate }}</th>
                                    <td>{{ product.Brand_Name }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'TABLE_WEIGHT'|translate }}</th>
                                    <td>
                                        {{ product.WEIGHT }} KG
                                    </td>
                                </tr>
                                <tr *ngIf="product.My_Category">
                                    <th>{{ 'TABLE_CATEGORY'|translate }}</th>
                                    <td>{{ product.My_Category.NAME }}</td>
                                </tr>
                                <tr *ngIf="!product.My_Category">
                                    <th>{{ 'TABLE_CATEGORY'|translate }}</th>
                                    <td>{{ product.Category_Name }}</td>
                                </tr>
                                <!-- <tr *ngIf="product.brand">
                                <th>{{ 'TABLE_COUNTRY'|translate }}</th>
                                <td>{{ ('COUNTRY_NAME_' + product.brand.country)|translate }}</td>
                            </tr> -->
                                <!-- <tr>
                                <th>{{ 'TABLE_PART_NUMBER'|translate }}</th>
                                <td>{{ product.My_Model.NAME }}</td>
                            </tr> -->
                            </tbody>
                        </table>
                    </div>
                    <div class="quickview__product-description">
                        {{ product.PRODUCT_DESCRIPTION }}
                    </div>
                    <div class="quickview__product-prices-stock">
                        <div class="quickview__product-prices">
                            <ng-container *ngIf="product.DISCOUNTED_PRICE">
                                <div class="quickview__product-price quickview__product-price--old">
                                    {{ product.PRODUCT_PRICE }} $
                                </div>
                                <div class="quickview__product-price quickview__product-price--new">
                                    {{ product.DISCOUNTED_PRICE }} $
                                </div>
                            </ng-container>
                            <ng-container *ngIf="!product.DISCOUNTED_PRICE">
                                <div class="quickview__product-price quickview__product-price--current">
                                    {{ product.PRODUCT_PRICE}} $
                                </div>
                            </ng-container>
                            <ng-container *ngIf="product.DISCOUNTED_PRICE">
                                <div class="quickview__product-price quickview__product-price--new"
                                    *ngFor="let x of rateOfProduct">
                                    <p> {{product.DISCOUNTED_PRICE * x.RATE }} L.L</p>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="!product.DISCOUNTED_PRICE">
                                <div class="quickview__product-price quickview__product-price--new"
                                    *ngFor="let x of rateOfProduct">
                                    <p> {{product.PRODUCT_PRICE * x.RATE }} L.L</p>
                                </div>
                            </ng-container>
                        </div>
                        <!-- <app-status-badge
                            class="quickview__product-stock"
                            [type]="product.stock|stockToStatusBadgeType"
                            [text]="product.stock|stockToStatusBadgeText|translate"
                        ></app-status-badge> -->
                        <app-status-badge class="quickview__product-stock" [type]="product.IS_REFUNDABLE"
                            [text]="product.IS_REFUNDABLE | badgeText"></app-status-badge>
                    </div>

                    <!-- <app-product-form
                        *ngIf="product.options.length > 0"
                        formControlName="options"
                        class="quickview__product-form"
                        [options]="product.options"
                    ></app-product-form> -->

                    <div class="quickview__product-actions">
                        <div class="quickview__product-actions-item quickview__product-actions-item--quantity">
                            <app-input-number formControlName="QUANTITY" [min]="1"></app-input-number>
                        </div>
                        <div class="quickview__product-actions-item quickview__product-actions-item--addtocart">
                            <button class="btn btn-primary btn-block" [class.btn-loading]="addToCartInProgress"
                                (click)="AddToCardList()">
                                {{ 'BUTTON_ADD_TO_CART'|translate }}
                            </button>
                        </div>
                        <div class="quickview__product-actions-item quickview__product-actions-item--wishlist">
                            <button appAddToWishlist type="button" class="btn btn-muted btn-icon"
                                [class.btn-loading]="addToWishlist.inProgress" (click)="AddToWishList()"
                                #addToWishlist="addToWishlist">
                                <app-icon icon="wishlist-16"></app-icon>
                            </button>
                        </div>
                        <!-- <div class="quickview__product-actions-item quickview__product-actions-item--compare">
                            <button
                                appAddToCompare
                                type="button"
                                class="btn btn-muted btn-icon"
                                [class.btn-loading]="addToCompare.inProgress"
                                (click)="addToCompare.add(product)"
                                #addToCompare="addToCompare"
                            >
                                <app-icon icon="compare-16"></app-icon>
                            </button>
                        </div> -->
                    </div>
                </div>
            </div>
            <!-- <a [routerLink]="url.product(product)" class="quickview__see-details">
                {{ 'BUTTON_SEE_FULL_DETAILS'|translate }}
            </a> -->
        </div>
    </div>
</div>
